@{
    ViewData["Title"] = "Exercises";
}

<h1>Exercises</h1>

<h4 class="my-3">
    Simply - This is the place where i store code used in any courses i do.
</h4>

<h4 class="my-3">
    Including courses:
</h4>
<ul>
    <li>
        <p>
            TestNinja - Unit Testing for C# Developers
        </p>

        <p>
            Inside UnitTestsExcercises directory there is TestNinja solution which contains all my progress in course Unit Testing for C# Developers by Mosh Hamedani on Udemy platform.
            This course covers basics of unit testing. All lectures are done using NUnit but I'm trying to recreate it while using XUnit.
            All skils I learn there are used in my other projects like <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="RumikApp">RumikApp</a>.
        </p>
    </li>
</ul>



