@{
    ViewData["Title"] = "About me";
}
<div class="container mb-3">
    <main role="main">
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
    </main>
</div>