@{
    ViewData["Title"] = "RumikApp";
}

<div class="container mb-3">
    <main role="main">
        <h1>Hi, this is RumikApp</h1>

        <div class="row">

            <h4 class="row my-3">
                Simply - RumikApp is the app where you go to if you are looking for a Rum
            </h4>

            <p>
                App allows user to:
            </p>

            <ul>
                <li>Find a rum depending on his current needs</li>
                <li>Browse internal database</li>
                <li>Save new entries</li>
            </ul>
            <p class="row my-3">
                Whole app is based on .NET Framework 4.7.2 and C#.
            </p>
            <p class="row my-3">
                Below I'm listing couple of technologies that I learned during this project:
            </p>

            <ul>
                <li>Linq</li>
                <li>MVVM</li>
                <li>Autofac</li>
                <li>Xunit and Moq</li>
                <li>Asynchronous programming</li>
            </ul>

            <p>
                At this point app supports only Polish language.
            </p>

        </div>

        <div class=" mx-auto bg-secondary bg-opacity-75">
            <div class="row col-sm-8 mx-auto py-4">
                <img src="/Images/RumikApp.jpg" class="img-fluid" alt="RumikApp" />
            </div>

            <div class="row col-sm-8 mx-auto py-4">
                <img src="/Images/RumikAppAddNew.jpg" alt="RumikApp" />
            </div>

            <div class="row col-sm-8 mx-auto py-4">
                <img src="/Images/RumikAppBeverages.jpg" alt="RumikApp" />
            </div>
            <div class="row col-sm-8 mx-auto py-4">
                <img src="/Images/RumikAppMyCabbinet.jpg" alt="RumikApp" />
            </div>
            <div class="row col-sm-8 mx-auto py-4">
                <img src="/Images/RumikAppPoll.jpg" alt="RumikApp" />
            </div>
            <div class="row col-sm-8 mx-auto py-4">
                <img src="/Images/RumikAppRandomEntry.jpg" alt="RumikApp" />
            </div>
        </div>
    </main>
</div>