@{
    ViewData["Title"] = "VITools";
}

<h1>Vi Tools App</h1>
<div class="row my-3">

    <h4>
        Simply - Vi Tools App is the app where you manage your AI datasets
    </h4>

    <h4 class="my-3">
        This app allows user to:
    </h4>
    <ul>
        <li>Load dataset containing jpgs and their xmls,</li>
        <li>Create dataset mirrored copy,</li>
        <li>Translate xml files to yolo format in txt files.</li>
    </ul>

    <h4 class="my-3">
        Workflow
    </h4>
    <ul>
        <li>Use labelImg software to create labels for dataset,</li>
        <li>Use Vi Tools App -> Mirror IMGs function to create mirror of your dataset,</li>
        <li>Use Vi Tools App -> Create TXT files function to translate xmls to txt for darknet</li>
    </ul>

    <h4 class="my-3">
        Technologies
    </h4>

    App supports:
    <ul>
        <li>.Net framework,</li>
        <li>Asynchronus programming,</li>
        <li>Colorful status presentation,</li>
        <li>Mvvm</li>
    </ul>
</div>

<div class=" mx-auto p-5 bg-secondary bg-opacity-75">
    <img src="/Images/ViTools.jpg" class="img-fluid" alt="RumikApp" />
</div>
