@{
    ViewData["Title"] = "Website";
}
<div class="container mb-3">
    <main role="main">
        <h1>Portfolio website</h1>
        <p class="row my-3">
            Following website is my firtst attempt in building web application using .Net 6
        </p>

        <p class="row my-3">
            Technologies I learned during this project:
        </p>

        <ul>
            <li>.Net 6</li>
            <li>MVC</li>
            <li>azure web services</li>
        </ul>
    </main>
</div>